* {
  user-select: none;
  cursor: default;
}

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#start-button{
  color:chartreuse;
  cursor: pointer;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 70px;
  width: 100px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;

  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color:#FEF2BF;
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
  
  padding-top: 130px;
  padding-right: 100px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.green.w {
  background-color: green;
  background-image: url("src/images/e.png");
}

.red.e{
  background-color: red;
  background-image: url("src/images/e.png");
}

.yellow.s {
  background-color: yellow;
  background-image: url("src/images/e.png");
}

.blue.d {
  background-color: blue;
  background-image: url("src/images/e.png");
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* div.btn svg{
  width: 120px;
  height: 120px;
  position:relative;
  top: 20%;
}
div.btn svg>path{
  fill: black;
} */